dp/ESBGW.CF/files/local/cf/xsd/DataTypes/domains/customerFileData/customerFileDataAggregates.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by KES (SBRF) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://sberbank.ru/dem/customerFileData" xmlns:ca="http://sberbank.ru/dem/commonAggregates" xmlns:ifxst="http://sberbank.ru/dem/simpleTypes" xmlns:ifx="http://sberbank.ru/dem/ifxSimpleTypes" targetNamespace="http://sberbank.ru/dem/customerFileData" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://sberbank.ru/dem/simpleTypes" schemaLocation="../../simpleTypes/simpleTypes.xsd"/>
	<xsd:import namespace="http://sberbank.ru/dem/ifxSimpleTypes" schemaLocation="../../innerTypes/ifxSimpleTypes.xsd"/>
	<xsd:import namespace="http://sberbank.ru/dem/commonAggregates" schemaLocation="../common/commonAggregates.xsd"/>
	<xsd:complexType name="getCustomerFileData_Type">
		<xsd:sequence>
			<xsd:element name="ClientInfo" type="ca:ClientInfo_Type" minOccurs="0"/>
			<xsd:element name="CustomerFileData" type="CustomerFileData_Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustomerFileData_Type">
		<xsd:sequence>
			<xsd:element ref="ExistingCustomer" minOccurs="0"/>
			<xsd:element ref="PayrollCustomer" minOccurs="0"/>
			<xsd:element ref="CustomerSince" minOccurs="0"/>
			<xsd:element ref="DateLastProd" minOccurs="0"/>
			<xsd:element ref="DateLastRest" minOccurs="0"/>
			<xsd:element ref="DateDefault" minOccurs="0"/>
			<xsd:element ref="NumberClsdPL" minOccurs="0"/>
			<xsd:element ref="NumberClsdCC" minOccurs="0"/>
			<xsd:element ref="NumberClsdCA" minOccurs="0"/>
			<xsd:element ref="NumberClsdPOS" minOccurs="0"/>
			<xsd:element ref="NumberClsdMort" minOccurs="0"/>
			<xsd:element ref="History" minOccurs="0"/>
			<xsd:element ref="HistoryUnsecuredProduct" minOccurs="0"/>
			<xsd:element ref="HistorySecuredProduct" minOccurs="0"/>
			<xsd:element ref="ActPL" minOccurs="0"/>
			<xsd:element ref="ActCC" minOccurs="0"/>
			<xsd:element ref="ActCA" minOccurs="0"/>
			<xsd:element ref="ActMO" minOccurs="0"/>
			<xsd:element ref="ActPOS" minOccurs="0"/>
			<xsd:element ref="CurFinPrin" minOccurs="0"/>
			<xsd:element ref="InFinPrin" minOccurs="0"/>
			<xsd:element ref="CurrOvd" minOccurs="0"/>
			<xsd:element ref="CurrOvdLmt" minOccurs="0"/>
			<xsd:element ref="CurrUnsFinPrincipal" minOccurs="0"/>
			<xsd:element ref="CurrSecFinPrincipal" minOccurs="0"/>
			<xsd:element ref="OvdExpiry" minOccurs="0"/>
			<xsd:element ref="CucrLimit" minOccurs="0"/>
			<xsd:element ref="CurCrBal" minOccurs="0"/>
			<xsd:element ref="LastCrPaymentAmnt" minOccurs="0"/>
			<xsd:element ref="CCBLM" minOccurs="0"/>
			<xsd:element ref="CCBLM1" minOccurs="0"/>
			<xsd:element ref="CCBLM2" minOccurs="0"/>
			<xsd:element ref="CCBLM3" minOccurs="0"/>
			<xsd:element ref="CCBLM4" minOccurs="0"/>
			<xsd:element ref="CCBLM5" minOccurs="0"/>
			<xsd:element ref="CCUsage" minOccurs="0"/>
			<xsd:element ref="CCUsage1" minOccurs="0"/>
			<xsd:element ref="CCUsage2" minOccurs="0"/>
			<xsd:element ref="CCUsage3" minOccurs="0"/>
			<xsd:element ref="CCUsage4" minOccurs="0"/>
			<xsd:element ref="CCUsage5" minOccurs="0"/>
			<xsd:element ref="TotalInstallmentLastMonth" minOccurs="0"/>
			<xsd:element ref="TotalInstallmentLastMonth1" minOccurs="0"/>
			<xsd:element ref="TotalInstallmentLastMonth2" minOccurs="0"/>
			<xsd:element ref="TotalInstallmentLastMonth3" minOccurs="0"/>
			<xsd:element ref="TotalInstallmentLastMonth4" minOccurs="0"/>
			<xsd:element ref="TotalInstallmentLastMonth5" minOccurs="0"/>
			<xsd:element ref="TotalOD" minOccurs="0"/>
			<xsd:element ref="TotalODPL" minOccurs="0"/>
			<xsd:element ref="TotalODCC" minOccurs="0"/>
			<xsd:element ref="TotalODCA" minOccurs="0"/>
			<xsd:element ref="TotalODPOS" minOccurs="0"/>
			<xsd:element ref="TotalODMORT" minOccurs="0"/>
			<xsd:element ref="CurDel" minOccurs="0"/>
			<xsd:element ref="CurrBS" minOccurs="0"/>
			<xsd:element ref="CurrBS1" minOccurs="0"/>
			<xsd:element ref="CurrBS2" minOccurs="0"/>
			<xsd:element ref="CurrBS3" minOccurs="0"/>
			<xsd:element ref="CurrBS4" minOccurs="0"/>
			<xsd:element ref="CurrBS5" minOccurs="0"/>
			<xsd:element ref="NumCurAc" minOccurs="0"/>
			<xsd:element ref="MonthPayrollStarted" minOccurs="0"/>
			<xsd:element ref="NumPayL6M" minOccurs="0"/>
			<xsd:element ref="NumPayL12M" minOccurs="0"/>
			<xsd:element ref="AvPayL3M" minOccurs="0"/>
			<xsd:element ref="AvPayL6M" minOccurs="0"/>
			<xsd:element ref="AvPayL12M" minOccurs="0"/>
			<xsd:element ref="PayLM" minOccurs="0"/>
			<xsd:element ref="CurAcBaltL6M" minOccurs="0"/>
			<xsd:element ref="CurAcBaltL12M" minOccurs="0"/>
			<xsd:element ref="CurAcBaltL3M" minOccurs="0"/>
			<xsd:element ref="TotDayODL6M" minOccurs="0"/>
			<xsd:element ref="TotDayODL12M" minOccurs="0"/>
			<xsd:element ref="NumDayODLM" minOccurs="0"/>
			<xsd:element ref="NumDayOLL6M" minOccurs="0"/>
			<xsd:element ref="NumDayOLL12M" minOccurs="0"/>
			<xsd:element ref="AvCurAcCrL3M" minOccurs="0"/>
			<xsd:element ref="AvCurAcCrL6M" minOccurs="0"/>
			<xsd:element ref="AvCurAcCrL12M" minOccurs="0"/>
			<xsd:element ref="AvCurAcDBL3M" minOccurs="0"/>
			<xsd:element ref="AvCurAcDBL6M" minOccurs="0"/>
			<xsd:element ref="AvCurAcDBL12M" minOccurs="0"/>
			<xsd:element ref="AvODUtilLM" minOccurs="0"/>
			<xsd:element ref="AvODUtilL3M" minOccurs="0"/>
			<xsd:element ref="AvODUtilL6M" minOccurs="0"/>
			<xsd:element ref="AvODUtilL12M" minOccurs="0"/>
			<xsd:element ref="TotAMATML3M" minOccurs="0"/>
			<xsd:element ref="TotAMATML6M" minOccurs="0"/>
			<xsd:element ref="TotAMATML12M" minOccurs="0"/>
			<xsd:element ref="TotNumATML3M" minOccurs="0"/>
			<xsd:element ref="TotNumATML6M" minOccurs="0"/>
			<xsd:element ref="TotNumATML12M" minOccurs="0"/>
			<xsd:element ref="CurACBal" minOccurs="0"/>
			<xsd:element ref="NumDBCard" minOccurs="0"/>
			<xsd:element ref="CurDepVal" minOccurs="0"/>
			<xsd:element ref="CurDepNum" minOccurs="0"/>
			<xsd:element ref="AvDepValL3M" minOccurs="0"/>
			<xsd:element ref="AvDepValL6M" minOccurs="0"/>
			<xsd:element ref="AvDepValL12M" minOccurs="0"/>
			<xsd:element ref="DateWo" minOccurs="0"/>
			<xsd:element ref="DateFrmWo" minOccurs="0"/>
			<xsd:element ref="DateLstOVD" minOccurs="0"/>
			<xsd:element ref="ActBlock" minOccurs="0"/>
			<xsd:element ref="ActBlockAmt" minOccurs="0"/>
			<xsd:element ref="HstBlockTotal3M" minOccurs="0"/>
			<xsd:element ref="HstBlockTotalAmount3M" minOccurs="0"/>
			<xsd:element ref="HstBlockTotal6M" minOccurs="0"/>
			<xsd:element ref="HstBlockTotalAmount6M" minOccurs="0"/>
			<xsd:element ref="HstBlockTotal12M" minOccurs="0"/>
			<xsd:element ref="HstBlockTotalAmount12M" minOccurs="0"/>
			<xsd:element ref="Query3M" minOccurs="0"/>
			<xsd:element ref="Query6M" minOccurs="0"/>
			<xsd:element ref="Query12M" minOccurs="0"/>
			<xsd:element ref="AMTCurAcCrL3M" minOccurs="0"/>
			<xsd:element ref="AMTCurAcCrL6M" minOccurs="0"/>
			<xsd:element ref="AMTCurAcCrL12M" minOccurs="0"/>
			<xsd:element ref="AMTCurAcDBL3M" minOccurs="0"/>
			<xsd:element ref="AMTCurAcDBL6M" minOccurs="0"/>
			<xsd:element ref="AMTCurAcDBL12M" minOccurs="0"/>
			<xsd:element ref="AvgNmrCashLast3M" minOccurs="0"/>
			<xsd:element ref="AvgSumCashLast3M" minOccurs="0"/>
			<xsd:element ref="AvgNmrNonCashLast3M" minOccurs="0"/>
			<xsd:element ref="AvgNmrCashLast6M" minOccurs="0"/>
			<xsd:element ref="AvgSumCashLast6M" minOccurs="0"/>
			<xsd:element ref="AvgNmrNonCashLast6M" minOccurs="0"/>
			<xsd:element ref="AvgNmrCashLast12M" minOccurs="0"/>
			<xsd:element ref="AvgSumCashLast12M" minOccurs="0"/>
			<xsd:element ref="AvgNmrNonCashLast12M" minOccurs="0"/>
			<xsd:element ref="TotDayODL3M" minOccurs="0"/>
			<xsd:element ref="HstOvdTotal3M" minOccurs="0"/>
			<xsd:element ref="HstOvdMaxDay3M" minOccurs="0"/>
			<xsd:element ref="HstOvdTotalSum3M" minOccurs="0"/>
			<xsd:element ref="HstOvdMaxSum3M" minOccurs="0"/>
			<xsd:element ref="HstOvdTotal6M" minOccurs="0"/>
			<xsd:element ref="HstOvdMaxDay6M" minOccurs="0"/>
			<xsd:element ref="HstOvdTotalSum6M" minOccurs="0"/>
			<xsd:element ref="HstOvdMaxSum6M" minOccurs="0"/>
			<xsd:element ref="HstOvdTotal12M" minOccurs="0"/>
			<xsd:element ref="HstOvdMaxDay12M" minOccurs="0"/>
			<xsd:element ref="HstOvdTotalSum12M" minOccurs="0"/>
			<xsd:element ref="HstOvdMaxSum12M" minOccurs="0"/>
			<xsd:element ref="CurIntClass" minOccurs="0"/>
			<xsd:element ref="HisWrtsIntClass" minOccurs="0"/>
			<xsd:element ref="HisBstIntClass" minOccurs="0"/>
			<xsd:element name="rawData" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ExistingCustomer" type="ifx:Boolean"/>
	<xsd:element name="PayrollCustomer" type="ifx:Boolean"/>
	<xsd:element name="CustomerSince" type="ifx:Date"/>
	<xsd:element name="DateLastProd" type="ifx:Date"/>
	<xsd:element name="DateLastRest" type="ifx:Date"/>
	<xsd:element name="DateDefault" type="ifx:Date"/>
	<xsd:element name="NumberClsdPL" type="ifx:Int"/>
	<xsd:element name="NumberClsdCC" type="ifx:Int"/>
	<xsd:element name="NumberClsdCA" type="ifx:Int"/>
	<xsd:element name="NumberClsdPOS" type="ifx:Int"/>
	<xsd:element name="NumberClsdMort" type="ifx:Int"/>
	<xsd:element name="History" type="ifx:Decimal"/>
	<xsd:element name="HistoryUnsecuredProduct" type="ifx:Decimal"/>
	<xsd:element name="HistorySecuredProduct" type="ifx:Decimal"/>
	<xsd:element name="ActPL" type="ifx:Int"/>
	<xsd:element name="ActCC" type="ifx:Int"/>
	<xsd:element name="ActCA" type="ifx:Int"/>
	<xsd:element name="ActMO" type="ifx:Int"/>
	<xsd:element name="ActPOS" type="ifx:Int"/>
	<xsd:element name="CurFinPrin" type="ifx:Decimal"/>
	<xsd:element name="InFinPrin" type="ifx:Decimal"/>
	<xsd:element name="CurrOvd" type="ifx:Decimal"/>
	<xsd:element name="CurrOvdLmt" type="ifx:Decimal"/>
	<xsd:element name="CurrUnsFinPrincipal" type="ifx:Decimal"/>
	<xsd:element name="CurrSecFinPrincipal" type="ifx:Decimal"/>
	<xsd:element name="OvdExpiry" type="ifx:Date"/>
	<xsd:element name="CucrLimit" type="ifx:Decimal"/>
	<xsd:element name="CurCrBal" type="ifx:Decimal"/>
	<xsd:element name="LastCrPaymentAmnt" type="ifx:Decimal"/>
	<xsd:element name="CCBLM" type="ifx:Decimal"/>
	<xsd:element name="CCBLM1" type="ifx:Decimal"/>
	<xsd:element name="CCBLM2" type="ifx:Decimal"/>
	<xsd:element name="CCBLM3" type="ifx:Decimal"/>
	<xsd:element name="CCBLM4" type="ifx:Decimal"/>
	<xsd:element name="CCBLM5" type="ifx:Decimal"/>
	<xsd:element name="CCUsage" type="ifx:Decimal"/>
	<xsd:element name="CCUsage1" type="ifx:Decimal"/>
	<xsd:element name="CCUsage2" type="ifx:Decimal"/>
	<xsd:element name="CCUsage3" type="ifx:Decimal"/>
	<xsd:element name="CCUsage4" type="ifx:Decimal"/>
	<xsd:element name="CCUsage5" type="ifx:Decimal"/>
	<xsd:element name="TotalInstallmentLastMonth" type="ifx:Decimal"/>
	<xsd:element name="TotalInstallmentLastMonth1" type="ifx:Decimal"/>
	<xsd:element name="TotalInstallmentLastMonth2" type="ifx:Decimal"/>
	<xsd:element name="TotalInstallmentLastMonth3" type="ifx:Decimal"/>
	<xsd:element name="TotalInstallmentLastMonth4" type="ifx:Decimal"/>
	<xsd:element name="TotalInstallmentLastMonth5" type="ifx:Decimal"/>
	<xsd:element name="TotalOD" type="ifx:Decimal"/>
	<xsd:element name="TotalODPL" type="ifx:Decimal"/>
	<xsd:element name="TotalODCC" type="ifx:Decimal"/>
	<xsd:element name="TotalODCA" type="ifx:Decimal"/>
	<xsd:element name="TotalODPOS" type="ifx:Decimal"/>
	<xsd:element name="TotalODMORT" type="ifx:Decimal"/>
	<xsd:element name="CurDel" type="ifx:Int"/>
	<xsd:element name="CurrBS" type="ifx:Int"/>
	<xsd:element name="CurrBS1" type="ifx:Int"/>
	<xsd:element name="CurrBS2" type="ifx:Int"/>
	<xsd:element name="CurrBS3" type="ifx:Int"/>
	<xsd:element name="CurrBS4" type="ifx:Int"/>
	<xsd:element name="CurrBS5" type="ifx:Int"/>
	<xsd:element name="NumCurAc" type="ifx:Int"/>
	<xsd:element name="MonthPayrollStarted" type="ifx:C"/>
	<xsd:element name="NumPayL6M" type="ifx:Int"/>
	<xsd:element name="NumPayL12M" type="ifx:Int"/>
	<xsd:element name="AvPayL3M" type="ifx:Decimal"/>
	<xsd:element name="AvPayL6M" type="ifx:Decimal"/>
	<xsd:element name="AvPayL12M" type="ifx:Decimal"/>
	<xsd:element name="PayLM" type="ifx:Decimal"/>
	<xsd:element name="CurAcBaltL6M" type="ifx:Decimal"/>
	<xsd:element name="CurAcBaltL12M" type="ifx:Decimal"/>
	<xsd:element name="CurAcBaltL3M" type="ifx:Decimal"/>
	<xsd:element name="TotDayODL6M" type="ifx:Int"/>
	<xsd:element name="TotDayODL12M" type="ifx:Int"/>
	<xsd:element name="NumDayODLM" type="ifx:Int"/>
	<xsd:element name="NumDayOLL6M" type="ifx:Int"/>
	<xsd:element name="NumDayOLL12M" type="ifx:Int"/>
	<xsd:element name="AvCurAcCrL3M" type="ifx:Decimal"/>
	<xsd:element name="AvCurAcCrL6M" type="ifx:Decimal"/>
	<xsd:element name="AvCurAcCrL12M" type="ifx:Decimal"/>
	<xsd:element name="AvCurAcDBL3M" type="ifx:Decimal"/>
	<xsd:element name="AvCurAcDBL6M" type="ifx:Decimal"/>
	<xsd:element name="AvCurAcDBL12M" type="ifx:Decimal"/>
	<xsd:element name="AvODUtilLM" type="ifx:Decimal"/>
	<xsd:element name="AvODUtilL3M" type="ifx:Decimal"/>
	<xsd:element name="AvODUtilL6M" type="ifx:Decimal"/>
	<xsd:element name="AvODUtilL12M" type="ifx:Decimal"/>
	<xsd:element name="TotAMATML3M" type="ifx:Decimal"/>
	<xsd:element name="TotAMATML6M" type="ifx:Decimal"/>
	<xsd:element name="TotAMATML12M" type="ifx:Decimal"/>
	<xsd:element name="TotNumATML3M" type="ifx:Decimal"/>
	<xsd:element name="TotNumATML6M" type="ifx:Decimal"/>
	<xsd:element name="TotNumATML12M" type="ifx:Decimal"/>
	<xsd:element name="CurACBal" type="ifx:Decimal"/>
	<xsd:element name="NumDBCard" type="ifx:Int"/>
	<xsd:element name="CurDepVal" type="ifx:Decimal"/>
	<xsd:element name="CurDepNum" type="ifx:Int"/>
	<xsd:element name="AvDepValL3M" type="ifx:Decimal"/>
	<xsd:element name="AvDepValL6M" type="ifx:Decimal"/>
	<xsd:element name="AvDepValL12M" type="ifx:Decimal"/>
	<xsd:element name="DateWo" type="ifx:Date"/>
	<xsd:element name="DateFrmWo" type="ifx:Date"/>
	<xsd:element name="DateLstOVD" type="ifx:Date"/>
	<xsd:element name="ActBlock" type="ifx:Int"/>
	<xsd:element name="ActBlockAmt" type="ifx:Decimal"/>
	<xsd:element name="HstBlockTotal3M" type="ifx:Int"/>
	<xsd:element name="HstBlockTotalAmount3M" type="ifx:Decimal"/>
	<xsd:element name="HstBlockTotal6M" type="ifx:Int"/>
	<xsd:element name="HstBlockTotalAmount6M" type="ifx:Decimal"/>
	<xsd:element name="HstBlockTotal12M" type="ifx:Int"/>
	<xsd:element name="HstBlockTotalAmount12M" type="ifx:Decimal"/>
	<xsd:element name="Query3M" type="ifx:Int"/>
	<xsd:element name="Query6M" type="ifx:Int"/>
	<xsd:element name="Query12M" type="ifx:Int"/>
	<xsd:element name="AMTCurAcCrL3M" type="ifx:Decimal"/>
	<xsd:element name="AMTCurAcCrL6M" type="ifx:Decimal"/>
	<xsd:element name="AMTCurAcCrL12M" type="ifx:Decimal"/>
	<xsd:element name="AMTCurAcDBL3M" type="ifx:Decimal"/>
	<xsd:element name="AMTCurAcDBL6M" type="ifx:Decimal"/>
	<xsd:element name="AMTCurAcDBL12M" type="ifx:Decimal"/>
	<xsd:element name="AvgNmrCashLast3M" type="ifx:Decimal"/>
	<xsd:element name="AvgSumCashLast3M" type="ifx:Decimal"/>
	<xsd:element name="AvgNmrNonCashLast3M" type="ifx:Decimal"/>
	<xsd:element name="AvgNmrCashLast6M" type="ifx:Decimal"/>
	<xsd:element name="AvgSumCashLast6M" type="ifx:Decimal"/>
	<xsd:element name="AvgNmrNonCashLast6M" type="ifx:Decimal"/>
	<xsd:element name="AvgNmrCashLast12M" type="ifx:Decimal"/>
	<xsd:element name="AvgSumCashLast12M" type="ifx:Decimal"/>
	<xsd:element name="AvgNmrNonCashLast12M" type="ifx:Decimal"/>
	<xsd:element name="TotDayODL3M" type="ifx:Int"/>
	<xsd:element name="HstOvdTotal3M" type="ifx:Int"/>
	<xsd:element name="HstOvdMaxDay3M" type="ifx:Int"/>
	<xsd:element name="HstOvdTotalSum3M" type="ifx:Decimal"/>
	<xsd:element name="HstOvdMaxSum3M" type="ifx:Decimal"/>
	<xsd:element name="HstOvdTotal6M" type="ifx:Int"/>
	<xsd:element name="HstOvdMaxDay6M" type="ifx:Int"/>
	<xsd:element name="HstOvdTotalSum6M" type="ifx:Decimal"/>
	<xsd:element name="HstOvdMaxSum6M" type="ifx:Decimal"/>
	<xsd:element name="HstOvdTotal12M" type="ifx:Int"/>
	<xsd:element name="HstOvdMaxDay12M" type="ifx:Int"/>
	<xsd:element name="HstOvdTotalSum12M" type="ifx:Decimal"/>
	<xsd:element name="HstOvdMaxSum12M" type="ifx:Decimal"/>
	<xsd:element name="CurIntClass" type="ifx:C"/>
	<xsd:element name="HisWrtsIntClass" type="ifx:C"/>
	<xsd:element name="HisBstIntClass" type="ifx:C"/>
</xsd:schema>
